{{#partial "content"}}
    {{#if Andangered}}
        {{#each Andangered}}
           <p>{{animalid}}</p>
           <p>{{name}}</p>
           <p>{{health}}</p>
           <p>{{age}}</p>
           <p>{{location}}</p>
    {{/each}}
{{else}}
    <p>not yet</p>

    {{/if}}

{{/partial}}
{{> layout.hbs}}